
h1 {
    font-size: 4.25rem;
    color:#4545eb;
    text-align: center;
    margin-bottom: 30px;
}
 /* start */

.video-section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.card{
  background: #1f1235;
  padding: 18px;
  border-radius: 14px;
}

.card video{
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 14px;
}

.card h3{
  color: #fff;
  margin-bottom: 8px;
}

.card p{
  color: #cfcfcf;
  font-size: 15px;
}

.watch-time{
  display: inline-block;
  margin-top: 14px;
  margin-left: 6px;
  color: #22c55e;
  font-weight: 600;
}
