
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
 
  body{
    margin: 0;
    overflow-x: hidden;
  }
  .bg-color{
    background-color: #060619;
  }

/* shayred style */
 .display-flex{
    display: flex;
 }


 
   .sectioin-name{
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
   } 


  /* green */
  .green{
    color: #00ff88;
  }

 header {
  
  width: 100%;
   min-height: 100vh; 
  background-image: url("./assets/hero-bg.png");
   background-size: contain;
    background-position: cover;
  background-repeat: no-repeat; 
  position: relative;
  
 }

  /* navbar style */
 
  .brand{
    font-size: 1.75rem;
  }

  .brand-color{
    color: rgb(202, 10, 202);
  }


  .brand-color-2{
    color: white;
  }

  .hamburger{
    font-size: 24px;
    cursor: pointer;
    display: none;
    color: white;
  }

  .navbar{
    display: flex;
    padding: 14px 20px;
    margin: 0 auto;
    max-width: 1400px;
    justify-content: space-between;
    align-items: center;
  }


  .nav-link{
    text-decoration: none;
    color: white;
  }
  
  
  .nav-item{
    list-style: none;
    margin-right: 32px;
    
  }


  .nav-links{
    margin: 0 auto;
  }

    /* btn */


  .btn-primary{
    font-size:1rem;
    font-weight:500;
    padding:12px 16px;
    border-radius: 24px;
    border: none;
    color: white;
     background: linear-gradient(to top, orange, hwb(311 2% 37%));
  }
   .btn-icon{
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: 500;
    color: #00ff88;
    border-radius: 10000px;
    border: 1px solid lightgreen;
    background-color: transparent;
    display: inline-flex;
    gap: 12px;
   
    
   }
    .btn-2{
      gap: 10px;
    }
  /* banner style */
  .banner{
    text-align: center;

  }
  .banner-image{
      background-image:url("./assets/hero-circle.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      padding: 80px;

  }

  .banner-image img{
    max-width: 100%;
    height: auto;  

  }

  .banner-content{
    color: white;
   
  }

  .banner-title{
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom:8px;
  }

  .banner-description{
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 24px;
  
  }

  /* about style */

  .about{
    background-color: #180b29;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 101px;

  }

  .about-title{
    font-size: 3rem;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 16px;


  }

  .about-description{
    max-width: 1200px;
    font-size: 1rem;
    font-weight: 300;
   line-height: 40px;
   margin-bottom: 160px;
    /* padding:0 150px; */
   

  }

  .description-line-break{
    line-height: 100px;
   
  }
  
  .about-status{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    padding: 0 200px;
    gap: 80px;
    color: white;
    margin-bottom: 120px;
  }

  .status-number{
    font-size: 3rem;
    font-weight: 950;
    margin-bottom: 16px;
  }

  .status-description{
    font-size: 1rem;
    font-weight:200;
    line-height: 30px;
    text-transform: uppercase;
  }

  /*  -techwave style */

 .why-techwave>*{
  background-color: #230c3e;
  border: 1px solid #060619;
  padding: 40px;
  color: white;
 }

 .header, .main, .sidebar, .resource, .footer{
  border-radius: 40px;
 }
 
 .header{
  grid-area: header;
 }
  .main{
    grid-area: main;

  }
  .sidebar{
    grid-area: sidebar;
  }
  .resource{
    grid-area: resource;
  }
  .footer{
    grid-area: footer;
  }


   .techwave-image2{
    padding: 100px 16px 40px 0 ;
    padding-bottom: 16px;
   }
  .why-techwave{
    display: grid;
    gap: 30px;
    margin: 0 350px;
    margin-bottom: 120px;
    /* max-width: 1600px; */
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-areas: 
      "sidebar  header header"
      "sidebar   main   main"
     
      "footer footer resource"

  }

  /* featured style */

  .featured-heading{
    font-size: 3rem;
    font-weight: 700;
    color: white;
    margin-bottom: 40px;
    text-align: center;
  }

  .featured{
    max-width: 1300px;
    margin: 0 auto;
 
  }

  .all-cards{
    gap: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 18px; 
  }


  .idea-card{
    background-color: hsl(266, 55%, 20%);
        max-width: 384px;

    border-radius: 16px;
    gap: 24px;
  }

  .idea-card iframe{
    max-width: 384px;
    height: 166px;
    border-radius: 12px;
    margin-bottom: 10px;
    object-fit: contain;
  }


  .idea-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0px;
   padding:24px;
   color: white;
  }

  .idea-description{
    color: white;
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
    padding:0px 24px;
  }

  .watch-time{
    font-weight: 400;
    color: #00ff88;
    /* margin-bottom: 12px; */
    padding: 24px;
    display: inline-block;
    
  }

  .idea-card img{
    padding-left: 24px;
    /* gap: 12px; */
   
  }
  /* host style */

  
  .the-host{
     background-color: hsl(266, 55%, 20%);
    display: flex;
    color: white;
    margin: 0 300px;
     max-width: 1300px;
    border-radius: 24px;
    margin-bottom: 120px;

  }

  .host-image{
    padding: 40px 24px 40px 40px;
  }

  .host-title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 16px;
  }

  .host-description{
   max-width: 896px;
   font-size: 1rem;
   font-weight: 200;
   margin-bottom: 16px;
  }

  .links img {
   
    gap: 10px;
    border: 1px solid hsl(10, 68%, 55%);
    padding: 10px;
    border-radius:24%;
  }

  /* footer style */

  .footer{
    max-width: 1600px;
    background-image: url("./assets/footer-bg.png");
    background-position: center 55% ;
    background-repeat: no-repeat;
    margin: 0 auto;
    text-align: center;
    color: white;
  
  }


   .social-footer{
    padding: 120px;
   }

   .footers-title{
    color: white;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
   margin: 0;
    padding-bottom: 30px;
   
   } 

  .social-links{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
   gap: 40px;
   padding: 0 400px;
    padding-bottom: 30px;
  }

  .social-links a{
    text-decoration: none;
    color: white;
    font-weight: 200;
    
   
  }

  .social-links a {
   display: flex;
   align-items: center;
   gap: 10px;
  }

  .footer-text{
    font-weight: 400;
    color: lab(72.55% -1.2 -5.04);
    
  }


  /* responsive style */

@media screen and (max-width: 576px) {

  body{
    overflow-x: hidden;
  }
  .nav-links{
    display: none;            
  }

  .btn-primary{
    display: none;           
  }

  .hamburger{
    display: block;           
  }

  
 header { 
  width: 100%;
   min-height:auto; 
  background-image: url("./assets/hero-bg.png");
   background-size:100% 100%;
    background-position:top;
  background-repeat: no-repeat; 
  position: relative;
  padding-bottom: 40px;
  
 }

 .banner-image{
      padding: 40px;
      background-image:url("./assets/hero-circle.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;   

  }

.banner-image img{
  max-width: 50px;
  height: auto;
}

.about{
  margin-top: 0px;
}
.about-title{
  font-size: 2rem;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}


  .about-description{
   margin-bottom: 60px;
    padding: 0px 20px;
     line-height: 24px;
  }

.description-line-break{
  line-height: 0px;
}


  .about-status{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px;
    gap: 40px;
    color: white;
    margin-bottom: 50px;
  }

  .why-techwave>*{
    padding: 24px;
  }

  
   .techwave-image2{
    padding: 20px 0 10px 0px;
  
   }
 .why-techwave{
    margin: 0 16px;
    margin-bottom: 80px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 
      "sidebar"
      "header "
      "main   "
      "footer "
      "resource"
  }


  .all-cards{
    grid-template-columns: repeat(1, 1fr);
     gap: 24px;
     padding: 0 10px;
  }

  .idea-card iframe{
    max-width: 100%;
  }
  .idea-card{
    max-width: 100%;
    gap: 24px;
  }
 
  .the-host{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    margin-bottom: 60px;

  }

  .host-title{
    margin: auto;
    text-align: center;
  }
  .host-image{
    padding: 10px 0px;
    margin: 0 auto;
  }

 .host-description{
  padding:0px 16px;
 }


  .links{
   text-align: center;
   margin-bottom: 24px;
  }

  
  .footer{
    width: 100%;
    background-image: url("./assets/footer-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
     margin: 0 auto;
    text-align: center;
    color: white;
  }

  .social-links{
    100%;
  }

}
